<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-00.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-01.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-02.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-03.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-04.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-05.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-06.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-07.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-08.png" class="{{ img }}" alt="">
  </a>
</div>
<div class="{{ brands }}">
  <a href="#" class="{{ inner }}">
    <img src="/local/templates/static/img/brand/brand-09.png" class="{{ img }}" alt="">
  </a>
</div>
